body {
    background-color: rgb(251, 253, 254);
    margin: 0 auto;
    margin-top: 30px;
    max-width: 960px;
    min-width: fit-content;
}

.Dictionary {
    margin-bottom: 50px;
    display: block;
    margin: auto;
}

.footer {
    color: black;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Handlee', cursive;
}

.link {
    color: rgb(88, 86, 86);
    font-weight: bold;
}

.link:hover {
    color: black;
}