body {
    background-color: rgb(195, 209, 215);
}


.footer {
    color: black;
    margin-top: 30px;
    text-align: center;
}

.link {
    color: rgb(88, 86, 86);
}

.link:hover {
    color: black;
}