.Dictionary section {
    background: rgb(133, 157, 162);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 10px green;
    margin: 20px 0;
}

.Dictionary input {
    color: red;
}

.engine {
    display: block;
    margin: 0 auto;
}