.Dictionary section {
    background: rgb(236, 238, 238);
    padding: 30px;
    border-radius: 6px;
    font-family: 'Handlee', cursive;
    box-shadow: 0 10px 10px rgb(205, 207, 205);
    margin: 15px;
}

.Title {
    font-size: 25px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}

.Dictionary input {
    color: rgb(81, 81, 98);
}

.Word {
    color: rgb(33, 33, 36);
    margin-bottom: 20px;
    font-family: 'Handlee', cursive;
    font-size: 25px;
    font-weight: bold;
}

.engine {
    display: block;
    font-family: 'Handlee', cursive;
    margin: 0 auto;
    font-size: 20px;
}

.Definition {
    font-size: 18px;
    font-weight: bold;

}

.DefinitionDef {
    font-size: 18px;
}

.ExampleDef {
    color: rgb(109, 109, 125);
}

.Synonyms {
    font-size: 18px;
}

.Synonyms li {
    display: inline-block;
    margin-right: 30px;

}

.Syn {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-top: 15px;
    margin-bottom: 0px;
}